<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="TLCCmdLineParameters" value=""/>
    <intAttribute key="collectCoverage" value="1"/>
    <stringAttribute key="configurationName" value="Model_1"/>
    <booleanAttribute key="deferLiveness" value="false"/>
    <intAttribute key="dfidDepth" value="100"/>
    <booleanAttribute key="dfidMode" value="false"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="10.167.35.44"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <stringAttribute key="distributedTLCVMArgs" value=""/>
    <intAttribute key="fpBits" value="1"/>
    <intAttribute key="fpIndex" value="9"/>
    <booleanAttribute key="fpIndexRandom" value="true"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <intAttribute key="maxSetSize" value="1000000"/>
    <booleanAttribute key="mcMode" value="true"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="MySpec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="pendingRequests, messages, matchIndex, log, state, leaderCount, entryCommitStats, commitIndex, currentTerm, votesResponded, maxc, nextIndex, votesGranted, missingRequests, voterLog, votedFor"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1MoreThanOneLeaderInv"/>
        <listEntry value="1LogMatchingInv"/>
        <listEntry value="1LeaderCompletenessInv"/>
        <listEntry value="1LogInv"/>
        <listEntry value="1LeaderCommitted"/>
        <listEntry value="1MaxCInv"/>
        <listEntry value="1LeaderCountInv"/>
        <listEntry value="1MaxTermInv"/>
        <listEntry value="1EntryCommitMessageCountInv"/>
        <listEntry value="0MaxCInvariantForSwitchTest"/>
        <listEntry value="1EntryCommitAckQuorumInv"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties"/>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="AppendEntriesResponse;;AppendEntriesResponse;1;0"/>
        <listEntry value="Follower;;Follower;1;0"/>
        <listEntry value="Leader;;Leader;1;0"/>
        <listEntry value="MaxTerm;;2;0;0"/>
        <listEntry value="Nil;;Nil;1;0"/>
        <listEntry value="RequestVoteResponse;;RequestVoteResponse;1;0"/>
        <listEntry value="MaxBecomeLeader;;1;0;0"/>
        <listEntry value="Candidate;;Candidate;1;0"/>
        <listEntry value="RequestVoteRequest;;RequestVoteRequest;1;0"/>
        <listEntry value="AppendEntriesRequest;;AppendEntriesRequest;1;0"/>
        <listEntry value="Value;;{&quot;v1&quot;,&quot;v2&quot;};0;0"/>
        <listEntry value="Server;;{&quot;r1&quot;,&quot;r2&quot;,&quot;r3&quot;};0;0"/>
        <listEntry value="MaxClientRequests;;2;0;0"/>
        <listEntry value="RecoveryResponse;;RecoveryResponse;1;0"/>
        <listEntry value="RecoveryRequest;;RecoveryRequest;1;0"/>
        <listEntry value="Switch;;&quot;sw&quot;;0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value="MyConstraint"/>
    <listAttribute key="modelParameterDefinitions"/>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="4"/>
    <booleanAttribute key="recover" value="false"/>
    <stringAttribute key="result.mail.address" value=""/>
    <intAttribute key="simuAril" value="-1"/>
    <intAttribute key="simuDepth" value="100"/>
    <intAttribute key="simuSeed" value="-1"/>
    <stringAttribute key="specName" value="raftModelPerf_switch"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
    <stringAttribute key="view" value=""/>
    <booleanAttribute key="visualizeStateGraph" value="false"/>
</launchConfiguration>
